.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    opacity: 80%;
    height: 1000px;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 735px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 10px;
}

mat-form-field{
    background-color: white;
   height: 125px;
    width:830px;
    
}

.search-label{
    font-size: x-large;
}

textarea{
    font-size: x-large;
}

.search-form{
    margin:0;
    padding-top: 50px;
}

textarea.mat-input-element {
    padding-bottom: 0;
    padding-top: 25px;
}

.device-card{
    width: 800px;
    height: 80px;
    margin-top:10px;
    margin-left: 20px;
}

.mat-card-buttons{
    background-color: white;
    width: 80px;
    height: 80px;
}

.mat-card-buttons:hover{
    background-color: bisque
}

.info-wrapper{
    flex: auto;
}

.button-wrapper{
    display: inline-grid;
}

.mat-card-sm-image {
    width: 80px;
    height: 80px;
    margin: 0 10% 0 10%;
}

