<div class="container" [ngStyle]="{backgroundImage:'url(../../assets/jpgs/searching-device.jpg)'}">
    
    <form class="search-form">    
        <mat-form-field class="example-full-width" appearance="fill">
        <mat-label class="search-label"><b>SEARCH</b></mat-label>
        <textarea matInput #searchBox (input)="search(searchBox.value)" placeholder="Ex. Xiaomi 11t"></textarea>
        </mat-form-field>
    </form>
  <div class="container2">
    <mat-card class="device-card" *ngFor="let dev of devices$ | async">
      <mat-card-title-group >
        <mat-icon>mobile_friendly</mat-icon>
        <div>
        <mat-card-title>{{dev.description}}</mat-card-title>
        <mat-card-subtitle >{{dev.serialNumber}}</mat-card-subtitle>
      </div>
      <app-update-device [selectedDevice]="selectedDev"></app-update-device>
        <button mat-raised-button class="mat-card-buttons"  (click)="onSelect(dev)">Update</button>
        
      </mat-card-title-group>
      
    </mat-card>
  </div>
</div>
