<div class="container" [ngStyle]="{backgroundImage:'url(../../assets/jpgs/searching-device.jpg)'}">
    
    <form class="search-form">    
        <mat-form-field class="example-full-width" appearance="fill">
        <mat-label class="search-label"><b>SEARCH</b></mat-label>
        <textarea matInput placeholder="Ex. Xiaomi 11t"></textarea>
        </mat-form-field>
    </form>

<mat-card class="employee-card">
    <mat-card-title-group>
      <mat-card-title *ngIf="dev.description">{{dev.description}}</mat-card-title>
      <mat-card-subtitle >{{dev.serialNumber}}</mat-card-subtitle>
      <mat-icon>mobile_friendly</mat-icon>
      <button mat-raised-button class="mat-card-buttons" routerLink="/...">Update</button>
      
    </mat-card-title-group>
  </mat-card>
</div>
