<div class="container">
  <h1>Create a new device</h1>
  <form [formGroup]="newDeviceForm">
  <mat-form-field appearance="fill">
      <mat-label>Serial Number</mat-label>
      <input matInput formControlName="serialNumber"> 
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option value="mobile">Mobile</mat-option>
        <mat-option value="tablet">Tablet</mat-option>
        <mat-option value="laptop">Laptop</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>
    <button mat-raised-button (click)="create()">Create</button>

</div>