<div class="container">
    <h1>Create a new employee</h1>
    
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="ex. Giorgos Papadopoulos" [formControl]="name" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessageName()}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="ex. pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>

      <button mat-raised-button>Create</button>
  
  </div>
