<div class="container" [ngStyle]="{backgroundImage:'url(../../assets/jpgs/searching.jpg)'}">
    
        <form class="search-form">    
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label class="search-label"><b>SEARCH</b></mat-label>
            <textarea matInput #searchBox (input)="search(searchBox.value)" placeholder="Ex. Giorgos Papadopoulos "></textarea>
            </mat-form-field>
        </form>

     <div class="container2">
       <mat-card class="employee-card" *ngFor="let empl of employees$ | async">
          <mat-card-title-group >
            <div class="info-wrapper">
              <mat-card-title>{{empl.name}}</mat-card-title>
              <mat-card-subtitle *ngIf="empl.email">{{empl.email}}</mat-card-subtitle>
            </div>
            <div class="button-wrapper">
              <button mat-raised-button class="mat-card-buttons" (click)="showDevices(empl)">Devices</button>
              <button mat-raised-button class="mat-card-buttons" (click)="update(empl)">Update</button>
             <button mat-raised-button class="mat-card-buttons" (click)="delete(empl)">Delete</button>
            </div>

            <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
          </mat-card-title-group>
        </mat-card>
      </div>
</div>

