.container{
    background-size: cover;
    background-position: center;
    opacity: 80%;
    height: 1000px;
}

.container2{
    max-height: 735px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 14%;
}

mat-form-field{
    background-color: white;
   height: 125px;
    width:830px;  
}

textarea{
    font-size: x-large;
}

.search-form{
    margin:0;
   
    margin-left: 25%;
    padding-top: 50px;

}

.search-label{
    font-size: x-large;
}

textarea.mat-input-element {
    padding-bottom: 0;
    padding-top: 25px;
}

.employee-card{
    width: 800px;
    height: 80px;
    margin-top:10px;
    margin-left: 25%;
}

.mat-card-buttons{
    background-color: white;
    width: 80px;
    margin: 5px;
}

.mat-card-buttons:hover{
    background-color: bisque
}

.info-wrapper{
    flex: auto;
}

.button-wrapper{
    display: inline-grid;
    margin-right: 10%;
}

.mat-card-sm-image {
    width: 80px;
    height: 80px;
    margin: 0 10% 0 10%;
}