<div class="container" [ngStyle]="{backgroundImage:'url(../../assets/jpgs/searching.jpg)'}">
    
        <form class="search-form">    
            <mat-form-field class="example-full-width" appearance="fill">
            <mat-label class="search-label"><b>SEARCH</b></mat-label>
            <textarea matInput #searchBox (input)="search(searchBox.value)" placeholder="Ex. Papadopoulos Giorgos"></textarea>
            </mat-form-field>
        </form>
    
    <mat-card class="employee-card" *ngFor="let empl of employees$ | async">
        <mat-card-title-group >
          <mat-card-title>{{empl.name}}</mat-card-title>
          <mat-card-subtitle *ngIf="empl.email">{{empl.email}}</mat-card-subtitle>
          <button mat-raised-button class="mat-card-buttons" routerLink="/detail-employee/{{empl.id}}">Update</button>
          <button mat-raised-button class="mat-card-buttons" routerLink="/...">Devices</button>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
        </mat-card-title-group>
      </mat-card>
</div>
