.menu-button{
    margin-right: 10px;
    float:left;
    height: 60px;
    width: 60px;
    background-color: gray;
}

mat-toolbar{
    background-color: blueviolet;
}

a{
    text-decoration: none;
    color:white;
    float: right;
    margin: 30px;
}

.title:hover, a:hover {
    color: bisque;
}

h1{
    font-size: 48px;
    color: white;
}

.container{
    background-color: blueviolet;
}

.toolbar-items{
    flex:auto;
}

.burger-menu{
    visibility:hidden;
    display: none;
}

@media screen and (max-width: 1250px) {
    .toolbar-items {
      visibility: hidden;
      display: none;
    }

    .burger-menu{
        visibility: visible;
        display: block;
        float:right;
        margin-left: auto;
        margin-top: 10px;
        margin-right: 20px;
    }

    .mat-button{
        background-color: blueviolet;
    }

    .mat-icon{
        color:blueviolet;
    }

  }
