<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
  
  <mat-toolbar>
    <a routerLink="/" >
      <h1 class="title">Capstone</h1>
     </a>
     <div class="toolbar-items">
      <a routerLink="/view-employees" title="Search an employee in order to watch details or to update it">Search Employee</a>
      <a routerLink="/view-devices" title="Search a device in order to watch details or to update it">Search Device</a>
      <a routerLink="/new-employee" title="Create a new employee">New Employee</a>
      <a routerLink="/new-device" title="Create a new device">New Device</a>
      <a routerLink="/assign" title="Assign a device to an employee">Assign</a> 
     </div>
     <div class="burger-menu">
       <button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/view-employees" title="Search an employee in order to watch details or to update it">Search Employee</button>
          <button mat-menu-item routerLink="/view-devices" title="Search a device in order to watch details or to update it">Search Device</button>
          <button mat-menu-item routerLink="/new-employee" title="Create a new employee">New Employee</button>
          <button mat-menu-item routerLink="/new-device" title="Create a new device">New Device</button>
          <button mat-menu-item routerLink="/assign" title="Assign a device to an employee">Assign</button> 
        </mat-menu>
      </div>
  </mat-toolbar>

  
</div>

<router-outlet></router-outlet>

