
<div cdkDropListGroup>
  <div class="example-container">
    <h2>Devices of {{employee.name}}</h2>

    <div
      cdkDropList
      [cdkDropListData]= "devicesOfEmployee"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let dev of devicesOfEmployee" cdkDrag>{{dev.description}} <mat-icon>{{getIcon(dev)}}</mat-icon></div>
    </div>
  </div>

  <div class="example-container">
    <h2>Availiable Devices</h2>

    <div
      cdkDropList
      [cdkDropListData]= "availableDevices"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box"*ngFor="let dev of availableDevices" [cdkDragDisabled]="!dev.available" cdkDrag>{{dev.description}}<mat-icon>{{getIcon(dev)}}</mat-icon></div>
    </div>
  </div>
</div>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>