<div class="container">
  <h2 mat-dialog-title>{{title}}</h2>
  <h4 mat-dialog-subtitle>with serial number: {{dev.serialNumber}}</h4>

  <mat-dialog-content [formGroup]="form">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" required></textarea>
          <mat-error *ngIf="form.get('description')?.hasError('required')">{{getErrorMessageDescription()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Owner Id</mat-label>
          <input matInput #ownerId formControlName="ownerId" > 
        </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
      <button class="mat-raised-button" (click)="close()">Close</button>
      <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
  </mat-dialog-actions>
</div>